# Katalon Studio specific files and folders
.classpath
.project
.settings/
bin/
Libs/
build/
Reports/
Drivers/
.temporary/
lib/
tmp/
logs/
junitreports/
console.txt
application.properties

# Specific test suite reports
Reports/**

# Katalon Plugins
Plugins/**

# Operating system files
.DS_Store
Thumbs.db

# IDE specific files (e.g., IntelliJ IDEA)
.idea/
*.iml
.vscode/

# Miscellaneous
*.log
*.tmp
*.bak
*.swp
*.swo
*.patch
*.orig
*.rej