/bin/
/Libs/
/.settings/
/.classpath
.svn/
/Reports
/.project
/.gradle/
.cache/
ci-samples.zip
settings/internal/
settings/external/
Summary Report/*.pdf
.gradle
bin
Reports
Libs
build
.classpath
.project
appium.log
.log
*.xdsl
*.log
*~*.xlsx
*.DS_Store
*.jar
*.zip
*.html
*.png
*.mov
*.avi
*.mp4
*.xlsx
*.db
object_print.txt
*.xlsx
*.numbers
*.prj
*.apk
*.ipa
/Data Files/tessdata
Data Files/SIT/.~lock.*

